*.out
*.map
*.pbd
*.pbd.browse
*.o
*.so
*.dep
*.cspy.bat
*.xcl
*.crun
*.sim
*.dbgdt
*.wsdt
*.cflags
*.config
*.creator
*.user
*.cxxflags
*.files
*.includes
*.linf
*.pbw
*.ps1
*.dnx
*.a
*.tmp
*.jlink
*.pbi
*.ewt
*.ewd
*.bc
*Debug
*settings
*051-Debug
*071-Debug
.project
*.orig
.vscode/
schema/*
button/iar/LogFile1.log
*/schema/include/*
*/schema/src/*
.gitignore
*Backup*.ewp
externals_build
*.ninja*
builds
build